.vscode/settings.json
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.bcf
runs/detect/**/*.txt
ietc_paper/.DS_Store
ietc_paper/ieee-conference.quarto_ipynb
ietc_paper/ieee-conference.html
